<p id="notice"><%= notice %></p>

<section class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <% @goals.each do |g| %>
          <%= render :partial => 'home/single_goal', :locals => { :g => g }%>
        <% end %>
      </div>
    </div>
  </div>
</section>
