<p id="notice"><%= notice %></p>

<section class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="text-center">
          <a class="page-scroll btn btn-xl extra-margin" href="<%= try_it_path%>">Try It Now!</a>
        </div>
      </div>
    </div>
  </div>
</section>
