// Use scss to specifically specify the order in which css files are being included

@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-datetimepicker";
@import "bootstrap-editable";
@import "font-awesome";
@import "framework_and_overrides";
@import "agency_theme";
@import "home";
@import "users";

.panel-goal {
  width: 205px;
  border-color: #3B9158;
  /* Removing Box-Shadow for now */
  /*box-shadow: 0 2px 2px rgba(31, 73, 125, 0.8), 0 -2px 2px rgba(31, 73, 125, 0.8), 2px 0 2px rgba(31, 73, 125, 0.8), -2px 0 2px rgba(31, 73, 125, 0.8);*/
}

.panel-new {
  width: 205px;
  height: 595px;
  border-color: #777;
  background-color: #F7F7F7;
  /* Removing Box-Shadow for now */
  /*box-shadow: 0 2px 2px rgba(31, 73, 125, 0.8), 0 -2px 2px rgba(31, 73, 125, 0.8), 2px 0 2px rgba(31, 73, 125, 0.8), -2px 0 2px rgba(31, 73, 125, 0.8);*/
}

.editable-title {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  color: #222;
  word-wrap: break-word;
}

.new-goal-title {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  color: #222;
  word-wrap: break-word;
}

.title-row {
  margin-bottom: 15px;
}

.results-rect:hover {
  stroke: #555;
  stroke-width: 1px;
}

.focus-rect {
  stroke: #222;
  stroke-width: 1px;
}

.results-day {
  font-size: 12px;
  font-family: Helvetica, Arial;
  fill: #aaa;
}

.results-month {
  font-size: 12px;
  font-family: Helvetica, Arial;
  fill: #aaa;
}

.results-rect-text {
  font-size: 12px;
  font-family: Helvetica, Arial;
  fill: #000;
  visibility: hidden;
}

.results-rect-group:hover .results-rect-text {
  fill: #fff;
}

.results-rect-group {
  text-align:center;
  vertical-align: center;
}

.add-score {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  font-size: 60px;
  line-height: 100%;
  z-index: 1;
}

.subtract-score {
  position: absolute;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 5px solid white;
  bottom: -5px;
  left: -5px;
  font-size: 30px;
  line-height: 100%;
  z-index: 2;
}

.subtract-score:hover {
  border: 5px solid white;
}

.day-btn-group {
  width: 150px;
  height: 150px;
  position: relative;
}

.goal-btn-group {
  width: 150px;
  height: 150px;
}

.add-goal {
  border-radius: 50%;
  width: 130px;
  height: 130px;
  font-size: 60px;
  line-height: 100%;
  border-color: #777;
  background-color: #C4C4C4;
  /* Removing Box-Shadow for now */
  /*box-shadow: 0 2px 2px rgba(31, 73, 125, 0.8), 0 -2px 2px rgba(31, 73, 125, 0.8), 2px 0 2px rgba(31, 73, 125, 0.8), -2px 0 2px rgba(31, 73, 125, 0.8);*/

}

.day-selector {
  width: 120px;
}

.col-centered{
  float: none;
  margin: 0 auto;
}