// Use scss to specifically specify the order in which css files are being included

@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap-datetimepicker';
@import "font-awesome";
@import "framework_and_overrides";
@import "agency_theme";
@import "home";
@import "users";

.results-rect:hover {
  stroke: #555;
  stroke-width: 1px;
}

.results-day {
  font-size: 12px;
  font-family: Helvetica, Arial;
  fill: #aaa;
}

.results-month {
  font-size: 12px;
  font-family: Helvetica, Arial;
  fill: #aaa;
}

.add-score {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  font-size: 60px;
  z-index: 1;
}

.subtract-score {
  position: absolute;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: 2px solid white;
  z-index: 2;
  font-size: 10px;
  top: 100px;
  left: 20px;
}

.subtract-score:hover {
  border: 2px solid white;
}

.day-btn-group {
  width: 150px;
  height: 150px;
  position: relative;
}

.day-selector {
  width: 120px;
}

/* ------------------------------------- */

.col-centered{
  float: none;
  margin: 0 auto;
}

#proofreader_logged_in {
  position: fixed;
  z-index: 1000;
  right: -76px;
  top: 45px;
  padding: 1px 69px;
  border: 1px solid;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  color: orange;
  background-color: white;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
}